*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: red;
    --secondary-color: #a3a3a3;

    --primary-background: #F0EFEB;

    --primary-button-background: #000;
    --primary-button-text: var(--primary-background);


    --animation-duration: 0.3s;

    --spacing-l: 0.5rem;
    --spacing-m: 1rem;
    --spacing-s: 0.5rem;

    --border-radius-m: 1rem;
    --border-radius-s: 0.5rem;

    scrollbar-gutter: stable;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: var(--spacing-s);
    background-color: var(--primary-background);
}

header {
    position: sticky;
    top: var(--spacing-s);
    width: 100%;

    padding-block: var(--spacing-s);
}

nav {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;
        gap: var(--spacing-m);

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: currentColor;

                div {
                    background-color: black;
                    height: 1px;
                    width: 0%;

                    transition: all var(--animation-duration) ease;
                }

                &:hover {
                    div {
                        width: 100%;
                        transition: all var(--animation-duration) ease;
                    }
                }
            }

            &:last-of-type {
                a {
                    display: flex;
                    gap: var(--spacing-s);
                    align-items: center;
                    padding: var(--spacing-s);
                    background-color: rgb(37, 37, 37);
                    color: var(--primary-button-text);
                    border-radius: var(--border-radius-s);
                    transition: all var(--animation-duration) ease;

                    &::after {
                        display: inline-block;
                        width: 1.2rem;
                        height: 1.2rem;
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23fff' d='M27.66 15.61L18 6l-9.66 9.61A1 1 0 1 0 9.75 17L17 9.81v19.13a1 1 0 1 0 2 0V9.81L26.25 17a1 1 0 0 0 1.41-1.42Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
                        rotate: 45deg;
                        transition: all var(--animation-duration) ease;
                    }

                    &:hover {
                        filter: drop-shadow(2px 2px 5px #b3b3b3);
                        transition: all var(--animation-duration) ease;
                        scale: 1.02;

                        &::after {
                            rotate: 90deg;
                            transition: all var(--animation-duration) ease;
                        }
                    }

                    div {
                        display: none;
                    }
                }
            }
        }
    }
}

ul {
    li {
        list-style: none;
    }
}

.repo-list {

    ul {}

    li {
        animation: --loading-ani var(--animation-duration);
        animation-delay: calc(0.1s * sibling-index());
        animation-fill-mode: backwards;
    }

    a {
        transition: all var(--animation-duration) ease;

        padding: var(--spacing-m);
        margin-block: var(--spacing-m);
        display: block;
        text-decoration: none;
        color: blue;
        border: 2px solid var(--primary-color);
        width: max-content;

        &:hover {
            background-color: var(--secondary-color);
            border-radius: 1rem;
            color: yellow;

            transition: all var(--animation-duration) ease;
        }

    }
}



@keyframes --loading-ani {
    0% {
        transform: translateX(-100vw);
    }

    50% {
        transform: translateX(5vw);
    }

    100% {
        transform: translateX(0);
    }
}


svg {
    path {
        fill: var(--primary-color);
    }
}